body{
	background: rgb(239,239,239);
}
div.method_detail_address{
	margin:10px 20%;
}
main{
	margin:10px 20%;
	border:1px solid #C4C4C4;
	min-width: 890px;
}
main>div.method_detail_list>div.clearfix{
	display: flex;
	border-bottom:1px solid #C4C4C4
}
/*内容头像部分*/
main>div.method_detail_list>div>div.method_detail_list_photo{
	background: rgb(239,239,239);
	padding-bottom:20px
}
div.method_detail_list_photo>div:first-child>img{
	width: 160px;
	height: 160px;
	margin:15px 20px 0 20px
}
div.method_detail_list_photo>p{
	text-align: center;
		color:#79B6E3;
	font-weight: bold;
}
div.method_detail_list_photo>div:nth-child(3){
	border:1px solid #79B6E3;
	color:#79B6E3;
	font-weight: bold;
	text-align: center;
	margin:0px 20px ;
	border-radius:4px;

}
div.method_detail_list_photo>ul{
	list-style: none;
	margin:0 0;
	padding:0 0;
	display: flex;
	justify-content: space-around;
	border:1px solid block
}
div.method_detail_list_photo>ul>li{
		position:relative;
		text-align: center;padding:0 10px
}
div.method_detail_list_photo>ul>li:nth-child(2):before,
div.method_detail_list_photo>ul>li:nth-child(1):before{
		   content: ' ';
		   border-right: 2px solid #79B6E3;
		    display: inline-block;
		    height: 30px;
		    position: absolute;
		    top: 45%;
		    right: -10px;	
		} 
div.method_detail_list_photo>ul>li>p{
	color:#79B6E3;
	margin-bottom:0;
}

/*内容预览部分*/
div.method_detail_list_content_speak,
main>div.method_detail_list>div>div.method_detail_list_content{
	width: 100%;
	background: white;
}
div.method_detail_list_content>h3{
	border-bottom:1px solid #DFDFDF;
	padding:0 0 10px 20px
}
div.method_detail_list_content>div{
	padding:0 20px
}
div.method_detail_list_content>div>img{
width: 650px;
height: 494px;
margin:20px 0;
}
div.method_detail_list_content>p{
	text-align: end;
	padding:10px 20px 
}
div.method_detail_list_content_speak>div{
	padding:0 20px;
	height: 83%;
	min-width: 650px;
}
div.method_detail_list_content_speak>ul{
	list-style: none;
	margin: 0 0;
	padding:0 20px;
	display: flex;
	justify-content: space-between;
}
div.method_detail_list_content_speak>ul>li:first-child{
	background: #4EA2E0;
	padding:5px 15px;
	color: white;
	border-radius: 2px;
}
/*分页按钮*/
			div.numpage{
				margin:20px 20%;
				border:1px solid red;
				min-width: 890px;
			}
			div.numpage>ul{
				list-style: none;
				margin: 0 0 ;
			
				display: flex;
				justify-content: flex-end;
			}
			div.numpage>ul>li{
				background: white;
				border:1px solid #BEBEBE;
				padding:3px 5px;
				margin:0 10px;
				min-width: 20px;
				text-align: center;
			}
			div.numpage>ul>li.numpage_dian{
				font-size:1rem;font-weight: bold;	
				border:none;
				background: rgb(239,239,239);
			}

/*留言区*/
div.leave_message{
margin:20px 20%;
background: rgb(239,239,239);
	min-width: 890px;
}
div.leave_message>div{
	border:1px solid #DFDFDF;
	background: white;

}
div.leave_message>div>p{
	margin:0 0;
	padding:10px 10px;
	font-weight: bold;
	border-bottom:1px solid #DFDFDF;

	
}
div.leave_message>div>div{
	text-align: start;
	margin:10px 10px
	
}
div.leave_message>div>div>div{
	border: 1px solid #DFDFDF;
	text-align: left;
}
div.leave_message>div>div>button{
		background: #4EA2E0;
		padding:5px 15px;
		color: white;
		border:none;
		margin:10px 0;
}
div.leave_message>div>div>div>textarea{
border: none;
 box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
resize: none;
width: 100%;
height: 164px;
padding-top:10px ;
}
div.leave_message>div>div>div>div{
background:rgb(239,239,239);
padding:5px 5px;
text-align: left;
}
div.leave_message>div>div>div>div>img{
	border:1px solid green
	width:20px;
	height: 20px;
}			